.App {
  text-align: center;
  background-color: #000000;
  font-family:"Trebuchet MS";
  font-size: calc(2.5 * 2vmin);
  color: grey;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

h1 {
  padding-top: 20px;
  font-size: calc(4 * 2vmin);
}

.preview_gambar{
  object-fit: cover;
  width: calc(20* 2vmin);
  height: calc(20* 2vmin);
}

.App-header {
  font-family:"Lato";
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2 * 2vmin);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.nama-kue {
  font-size: calc(1.3 * 2vmin);
}

.Image {
   height : calc(20 * 2vmin) ;
}

.Machine-Learning-Section {
  font-size: calc(1.5 * 2vmin);
}

.button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.button:active {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 5px 5px 0 rgba(0,0,0,0.19);
  transform: translateY(2px);
}

.show-file {
  padding-top: 10px;
  padding-bottom: 10px;
}

.predict {
  padding-top: 10px;
}

.Footer {
  text-align: center;
  background-color: #000000;
  font-family:"Trebuchet MS";
  font-size: 2vmin;
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
